/* PLACE YOUR CUSTOM STYLES IN THIS FILE */
#card-element {
    min-height: 37px;
    padding: 7.5px 17px 9px;
    background-color: #fbfcfc;
    border: 1px solid #e3eaf1;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border-radius: 0.25rem;
}
